$theme: 'mdrnze';
$headerColor: #0f0f0f;
$imagesUrl: 'imgs/';
$brandingBackground: $imagesUrl+'branding.jpg';
$brandingImage: $imagesUrl+'branding2.png';

//typeface
$font: 'Lato', 'Arial', 'Helvetica', sans-serif;
$headerFont: 'Open Sans', 'Lato', 'Arial', 'Helvetica', sans-serif;


//colors
$mainColor: #283a4a;
