@import 'config';
@import 'avatar';
@import 'utils';
@import 'mixins';

header#header {
	background: $headerColor;
	color: #fff;
	a {
		color: #fff;
	}
	>#main_nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		>ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		>#apps {
			display: flex;
			margin: 0;
			padding: 0;
			>a>li {
				padding: 0.8em;
				box-sizing: border-box;
				line-height: 1;
			}
		}
		#search {

		}
	}
}


#branding {
	color: #FFF;
	background: $mainColor url($brandingBackgroundDark) no-repeat 50% 50% / cover;
	>.main_width {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&_extended {
		color: #FFF;
		max-height: 100vh;
		background-color: $mainColor;
		background-image: url($brandingImage), url($brandingBackground);
		background-size: auto 100%, cover;
		background-position: 50% 0;
		background-repeat: no-repeat;
		position: relative;
		min-height: 400px;
		text-align: center;
		>.logo {
			position: absolute;
			left: calc(50%);
			bottom: 20%;
			transform: translateX(-50%);
		}
	}
}
