@import 'config';
@import 'header';
@import 'font';
@import 'frontpage/fragments';
@import 'frontpage/statistics';
@import 'footer';
@import 'logo';

body {
	font-family: $font;
	margin: 0;
	padding: 0;
}
