@import 'config';
@import 'header';
@import 'font';
@import 'avatar';
@import 'fragments';

body {
	font-family: $font;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}



label {
	display: block;
	margin: 3px;
}
