@import 'mixins';
@import 'config';

$fragments: (
  /* background url, width, left, height: 100%, top: 0*/
  ($imagesUrl+'/fragments/1.png', 15.7%, 0),
  ($imagesUrl+'/fragments/2.png', 12.7%, 15.3%),
  ($imagesUrl+'/fragments/3.png', 16%, 21.7%),
  ($imagesUrl+'/fragments/4.png', 17%, 31.4%, 62.5%),
  ($imagesUrl+'/fragments/5.png', 16%, 36.3%),//
  ($imagesUrl+'/fragments/6.png', 22.4%, 46.3%),
  ($imagesUrl+'/fragments/7.png', 14.7%, 64.8%),
  ($imagesUrl+'/fragments/8.png', 15%, 74.9%, 51%),
  ($imagesUrl+'/fragments/9.png', 7.8%, 79.8%, 45%, 54.5%),
  ($imagesUrl+'/fragments/10.png', 12.1%, 87.2%)
);
// $fragments: (
//   /* background url, width, left, height: 100%, top: 0*/
//   ('http://i.imgur.com/fHaKbse.png', 15.7%, 0),
//   ('http://i.imgur.com/uz2XCjs.png', 12.7%, 15.3%),
//   ('http://i.imgur.com/CYIZx1n.png', 15.7%, 21.7%),
//   ('http://i.imgur.com/PoFFeDJ.png', 17%, 31.4%, 62.5%),
//   ('http://i.imgur.com/sazQmOy.png', 16%, 36.3%),//
//   ('http://i.imgur.com/8Bs9zj3.png', 22.4%, 46.3%),
//   ('http://i.imgur.com/nIGtnQU.png', 14.7%, 64.8%),
//   ('http://i.imgur.com/vkwoJy1.png', 15%, 74.9%, 51%),
//   ('http://i.imgur.com/3Zy3arQ.png', 7.8%, 79.8%, 45%, 54.5%),
//   ('http://i.imgur.com/v8XyCNG.png', 12.1%, 87.2%)
// );

.fragments_section {
  padding: 3em;
  box-sizing: border-box;
  text-align: center;
}

.fragments {
  @include aspect-ratio(1250, 284);
  > .content {
    > * {
      height: 100%;
      position: absolute;
      background-size: auto 100%;
      background-repeat: no-repeat;
      opacity: 0.85;
      transform: scale(1);
      &, &:hover {
        transition: 0.6s;
      }
      &:hover {
        opacity: 1;
        transform: scale(1.1);
      }
    }
    @each $f in $fragments {
        >.f#{index($fragments, $f)} {
          background-image: url('#{nth($f, 1)}');
          width: #{nth($f, 2)};
          left: #{nth($f, 3)};
          @if length($f)>=4 {
            height: #{nth($f, 4)}
          }
          @if length($f)>=5 {
            top: #{nth($f, 5)}
          }
        }
    }
  }
}
